.dashboard-container {
  padding: 20px;
}

.section {
  margin-bottom: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #ddd;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.heading .addButton {
  margin: 1em 0em;
}
.deleteBtn {
  background-color: red;
}
.actionBtnContainer {
  display: flex;
  justify-content: center;
}
